html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    background-color: rgb(227, 236, 243);

}

h1 {
    background-color: rgb(33,150,243);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    /* margin-bottom: 5px; */
}

.gray {
    background-color: rgb(132, 198, 252);
    margin-bottom: 4px;
}

#search {
    font-size: 24px;
}

.form-control {
    width: 70%;
    margin-right: 0;
    font-size: 18px;
}

#cityInput {
    width: 100%;
}

.cityFont {
    font-size: 18px;
    text-align: left;
    width: 100%;
    margin-bottom: 1px;
}

.ui-tabs-nav {
    background-color: rgb(132, 198, 252);
}

.footer-box {
    margin-top:10px;
    background-color: rgb(21, 105, 170);
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}